* {
    box-sizing: border-box;
}
body:after {
    content: "";
    display: table;
    clear: both;
}
#tabs {
    margin-top: 25px;
    text-align: center;
    float: left;
    width: 25%;
}
.tab {
    font-family: Georgia, serif;
    width: 60%;
    background-color: #f2f2f2;
    padding: 16px 20px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border: #aaaaaa solid 1px;
}
.tab.active {
    background-color: #434343;
    color: white;
}
.tab:hover {
    background-color: #3c963c;
    color: white;
}
#tab-news {
    border-radius: 5px 5px 0 0;
}
#tab-search {
    margin-top: -1px;
    border-radius: 0 0 5px 5px;
}
#news {
    float: left;
    width: 60%;
}
.top-col {
    float: left;
    /* TODO: make slideshow wider and wordcloud narrower */
    margin-bottom: 0;
}
#top-col-news {
    width: 55%;
    margin-right: 10px;
}
#top-col-wc {
    width: 35%;
    display: block;
    margin-left: 10px;
}
svg {
    background-color: #f2f2f2;
}
.generic-headline {
    position: relative;
}
.generic-headline .gh-img {
    width: 100%;
    height: 250px;
    bottom: 0;
    margin-bottom: -5px;
}
.text-block {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    bottom: 0;
    margin-bottom: 0;
}
.text-block p {
    font-size: 16px;
    margin-bottom: 10px;
}
.text-block h2 {
    font-size: 18px;
}
#top-row {
    margin: 25px 1% 5% 1%;
}
#top-row:after {
    content: "";
    display: table;
    clear: both;
}
.top-card {
    text-align: center;
}
#top-content {
    margin-bottom: 50px;
}
.cnn-fox-header {
    margin-bottom: 0;
    text-align: center;
}
.headlines {
    border-top: 2px dotted;
    margin-top: 5px;
    padding-top: 10px;
}
.headlines:after {
    content: "";
    display: table;
    clear: both;
}
.hl-col {
    float: left;
    width: 25%;
}
a.hl-link:any-link {
    display: block;
    text-decoration: none;
}
.hl-card {
    float: left;
    margin: 5px;
    border-style: solid;
    border-width: 1px 2px 2px 1px;
    border-color: #828282;
    border-radius: 5px;
}
.hl-card img {
    width: 101%;
    height: 22%;
    border-radius: 5px;
}
.hl-text-container {
    text-align: center;
    width: 100%;
    /* TODO: use flexbox to auto-adjust height */
    height: 500px; overflow: hidden;
    color: black;
    background-color: #f1f1f1;
    border-radius: 5px;
}
.hl-text-container .hl-title, .hl-text-container p {
    padding: 5px;
    margin: 10px 0 10px 0;
}